.DS_Store
*.pyc
*~
*.sqlite
*.sqlite-journal
settings_local.py
local_settings.py
.*.sw[po]
dist/
*.egg-info
doc/__build/*
build/
locale/
pip-log.txt
devdatabase.db
.directory
bundle_version.gen
celeryd.log
celeryd.pid
