arch: ppc64le
language: python
dist: xenial
cache: pip
python:
  - '2.7'
  - '3.5'
  - '3.6'
  - '3.7'
  - '3.8'
  - 'nightly'
  - 'pypy'
  - 'pypy3'

matrix:
  allow_failures:
    - python: 'nightly'

install:
    - travis_retry pip install tox-travis
script: tox
