name: CI
on: [pull_request, push]
jobs:
  #################### Unittests ####################
  unittest:
    runs-on: blacksmith-4vcpu-ubuntu-2204
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
      - name: Install system packages
        run: sudo apt update && sudo apt-get install libcurl4-openssl-dev libssl-dev
      - name: Check out code from GitHub
        uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        id: python
        uses: actions/setup-python@main
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - name: Install dependencies
        run: pip install --upgrade pip setuptools wheel tox tox-gh-actions tox-docker
      - name: Run unittest
        run: tox -v -e ${{ matrix.python-version }}-unit -- -v
